body, span, h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

input[type="file"] {
  display: none;
}

.custom-input-file {
  background-color: #328B17;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.custom-input-file:hover {
    background-color: #328B17;
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #0284F4;
  color: white;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
}

.report-container{
  padding: 20px;
  gap: 10px;
  margin-bottom: 10px;
}

.custom-botton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #0332BE;
  color: white;
}

.custom-botton:hover {
  opacity: 0.8
}

.custom-botton:active {
  transform: translateY(1px);
}

.custom-botton:disabled {
  opacity: 0.4;
}

.custom-input {
  width: 200px; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px; 
  font-size: 16px;
}

/* Estilos para el dropdown */
.custom-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para las opciones */
.custom-dropdown option {
  padding: 8px;
}