body, span, h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

input[type="file"] {
  display: none;
}

label {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

label:hover {
    background-color: #45a049;
}

/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #007bff;
  color: white;
}

.upload-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
}

.report-container{
  padding: 20px;
  gap: 10px;
}

.custom-botton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #007bff;
  color: white;
}

.custom-botton:hover {
  opacity: 0.8
}

.custom-botton:active {
  transform: translateY(1px);
}

.custom-input {
  width: 200px; /* Ancho del input */
    padding: 8px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px; /* Tamaño de fuente */
}